body {
    background-image: url(../images/background.jpg);
    background-size: cover;
}



.header {
    background-color: yellow;
    color: black;
    font-size: 24px;
    float: left;
    padding: 25px;
    margin: 5px;
}

.paragraph {
    font-size: 12px;
    background-color: green;
    color: black;
    float: left;
    margin: 5px;
    padding: 15px;
}

#targetScore {
    background-color: red;
    color: black;
    padding: 25px;
    margin: 5px;
}

.scoreCount {
    background-color: lightblue;
    color: black;
    margin: 10px;
    padding: 5px;
}

#adidas, #jordan, #underArmour, #puma {
    width: 100px;
    height: 100px;
}

#userScore {
    background-color: orange;
    color: black;
    padding: 25px;
    margin: 5px;
}

.userScore {
    background-color: orange;
    color: black;
    margin: 5px;
}

.images {
    padding: 5px;
    margin: 5px;
}